<h1>Create a new bookmark</h1>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie, collection: Movie.all %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
